<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="title1">Animal Crossing: New Horizons Direct</div>
      <div id="title2">สรุปฟีเจอร์ทั้งหมดของเกม</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 column">
      <span class="field-content">
        <a href="#1" class="submenu">1. เลือกรูปแบบเกาะ และพื้นที่ที่ต้องการอยู่ได้</a>
        <a href="#2" class="submenu">2. มีบริการ และครื่องไม้เครื่องมือหลากหลายให้เลือกใช้</a>
        <a href="#3" class="submenu">3. การเล่นแบบ co-op กับเพื่อน</a>
        <a href="#4" class="submenu">4. มีระบบสะสมไมล์ (Nook Miles)</a>
        <a href="#5" class="submenu">5. จากเต๊นท์ธรรมดา กลายเป็นบ้านใหญ่สุดหรูได้!</a>
        <a href="#6" class="submenu">6. ฟีเจอร์เชื่อมต่อกับแอปฯ ในมือถือ</a>
      </span>
    </div>
    <div class="col-xs-12 col-sm-8 column middle">
      <div class="wrapper1">
        <iframe src="https://www.youtube.com/embed/Ie4WZCLbtVs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>เปิดให้รับชมกันไปอย่างเต็มอิ่มเมื่อช่วงสามทุ่มของวันที่ 21 กุมภาพันธ์ที่ผ่านมากับ
        Animal Crossing: New Horizons Direct ด้วยความยาวเกือบครึ่งชั่วโมง
        สำหรับใครที่อยากได้เวอร์ชั่นสรุปโดยไม่ต้องกลับไปวนดูอีกรอบ เราอธิบายไว้ให้ตามไทม์ไลน์การนำเสนอด้านล่างแล้วค่ะ
      </p>



      <a id="1"></a>
      <h3>1. เลือกรูปแบบเกาะ และพื้นที่ที่ต้องการอยู่ได้</h3>
      <p>
        การเลือกรูปแบบเกาะ จะมีทั้งหมด 4 แบบ เส้นสีฟ้าคือเส้นแม่น้ำลำคลองที่จะแบ่งกันพื้นที่เอาไว้
        แต่แน่นอนว่าเราสร้างปรับเสริมเติมแต่งเข้าไปได้ในภายหลัง เช่น สร้างสะพานข้ามฝั่ง สร้างบันไดขึ้นเนิน
        ซึ่งสามารถเลือกได้เลยว่าอยากได้แผนที่เกาะเป็นแบบไหน และอยากให้บ้านอยู่ตรงไหนของเกาะ
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221145017y3_96.png">
      <p>
        เมื่อเลือกได้แล้ว Tom Nook จะถามคำถามถัดมาว่าอยากอยู่ ซีกโลกบน หรือ ซีกโลกล่าง
        ซึ่งการเลือกนี้จะมีผลกับสภาพภูมิอากาศตามฤดูกาล ที่จะแปรผันตามโซนที่เราอยู่ เช่น ในเดือนเมษายน
        ถ้าใครเลือกซีกโลกบนจะเป็นฤดูใบไม้ผลิ แต่ถ้าเลือกซีกโลกล่าง จะกลายเป็นฤดูใบไม้ร่วงแทน เป็นต้น
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022114501743_96.png">
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221145016r4_96.png">
      <p>
        และเมื่อเรามาถึงเกาะ เราสามารถเลือกพื้นที่ที่จะตั้งรกรากหรือตั้งเต๊นท์ได้เองเลยทันที
        ซึ่งถ้าเลือกไม่ถูกว่าจะตั้งตรงไหนดี ลองคุยกะผู้คนบนเกาะให้พวกเขาลองช่วยเสนอแนะดูสิ
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_2002211457066j_96.png">

      <a id="2"></a>
      <h3>2. มีบริการ และครื่องไม้เครื่องมือหลากหลายให้เลือกใช้</h3>
      <p>
        ร้านของ Nook เปิดให้บริการตลอด 24 ชั่วโมง จะมาดึกดื่นแค่ไหน ร้านนี้ก็เปิดให้บริการเสมอ
        ไม่ว่าจะเป็นการซื้อ-ขายไอเท็ม หรือการใช้บริการโต๊ะคราฟท์ของที่เราจะต้องไปหาวัตถุดิบมา
        สามารถสร้างได้ตั้งแต่เครื่องมือที่ใช้ทั่วไป
        ยันเฟอร์นิเจอร์ขนาดใหญ่เลยทีเดียวและเมื่อเราสร้างของที่เป็นเฟอร์นิเจอร์ออกมา
        เราสามารถนำมาปรับแต่ต่อในสไตล์ที่เราชอบได้อีกด้วย
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022115100667_96.png">



      <a id="3"></a>
      <h3>3. การเล่นแบบ co-op กับเพื่อน</h3>
      <p>
        ในภาคนี้ เราจะสามารถเล่นแบบ co-op โดยการเชิญเพื่อนมาหาเราที่เกาะ
        หรือเพื่อนเลือกจะมาเที่ยวที่เกาะของเราเองได้อีกด้วย โดยจะมีให้เลือกทั้งแบบเชิญเพื่อนใน Friend List ของเรามา
        และการออก Dodo Code™ เพื่อให้เพื่อนที่จะมาเกาะของเรานั้น
        ทำการแอดโค้ดของเราแล้วมาเยี่ยมได้เลยทันทีโดยไม่ต้องเพิ่มเพื่อนกัน
        (โค้ดนี้จะเป็นฟีเจอร์ในอนาคตที่จะถูกเพิ่มเข้ามา)
        ซึ่งสามารถมาจอยกันได้สูงสุดถึง 8 คนเลยทีเดียว
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022119423916_96.png">
      <p>
        นอกจากวิธีการข้างต้นแล้วเรายังสามารถเล่นกับเพื่อนแบบ Local โดยใช้เครื่อง Switch เครื่องเดียวพร้อมตลับเกมอีก 1
        ตลับมาเล่นพร้อมกันได้สูงสุดถึง 8 คนด้วยกัน! (ใช้ Joy-Con 8 อัน) โดยการลงทะเบียนผู้ใช้งานให้ครบ 8
        คนในเครื่องนั้นๆ
        แล้วทำการสร้างตัวละครให้เรียบร้อย ก็จะสามารถมาเล่นด้วยกันได้ทันที (ตัวละครแต่ละตัว
        สามารถสร้างบ้านของตัวเองได้อย่างอิสระด้วยนะ)
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221164829V7_96.png">

      <a id="4"></a>
      <h3>4. มีระบบสะสมไมล์ (Nook Miles)</h3>
      <p>
        ถือเป็นสิ่งที่ทำให้ว้าวพอสมควรกับ ระบบสะสมไมล์ ที่เปรียบเสมือนเป็นเควสกลายๆ
        ให้กับเหล่าผู้เล่นได้ทำกันเป็นประจำเพื่อแลกไอเท็มในเกมมาใช้กัน เช่น ออกไปตกปลา และเมื่อได้ไมล์มาแล้ว
        ก็จะสามารถเอาไปแลกพวกชุดคอสตูม หรือไอเท็มอื่นๆ ที่เป็นประโยชน์ต่อไป เช่น ตำราผลิตเครื่องมือ เป็นต้น
      </p>
      <div align="center">
        <img class="img-responsive"
          src="https://news.thaiware.com/upload_misc/news/2020_02/728/18053_20022116525993_96.png">
      </div>
      <p>
        หนึ่งในไอเท็มที่น่าสนใจคือ Nook Miles Ticket ที่เมื่อแลกแล้ว
        เราสามารถไปที่สนามบินประจำเกาะเพื่อใช้ตั๋วบินไปยังเกาะเล็กๆ ที่อยู่ห่างไกลเพื่อเก็บวัตถุดิบและไอเท็มต่างๆ
        กลับมาได้เท่าที่ต้องการเลยทีเดียว
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022118143462_96.png">

      <a id="5"></a>
      <h3>5. จากเต๊นท์ธรรมดา กลายเป็นบ้านใหญ่สุดหรูได้!</h3>
      <p>
        ผู้เขียนเชื่อว่าฟีเจอร์นี้ทางทีมงานน่าจะดัดแปลงและต่อยอดมาจาก Animal Crossing: Happy Home Designer
        เพราะว่ามีการสร้างบ้านและต่อเติมบ้านในรูปแบบที่คล้ายๆ กันกับภาคดังกล่าว และการจะอัปเกรดเต๊นท์ให้เป็นบ้าน
        และอัปเกรดบ้านให้มีขนาดใหญ่ขึ้นนั้น จำเป็นต้องใช้ Bells หรือสกุลเงินในเกมเป็นจำนวนมาก ซึ่ง Nook
        ก็ไม่ได้ใจร้ายให้จ่ายทั้งหมดในงวดเดียวหรอก ยังคงสามารถผ่อนจ่ายบ้านได้เช่นเดิม
      </p>
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022118012819_96.png">

      <a id="6"></a>
      <h3>6. ฟีเจอร์เชื่อมต่อกับแอปฯ ในมือถือ และเชื่อมต่อกับภาคเก่าผ่าน QR Code</h3>
      <p>
        นับเป็นฟีเจอร์ใหม่ที่มีข่าวหลุดออกมาก่อนหน้านี้แล้วว่า จะสามารถเชื่อมต่อกับแอปพลิเคชันในสมาร์ทโฟนที่ชื่อว่า
        Nintendo Switch Online App ได้ ซึ่งก่อนหน้านี้ยังไม่แน่ชัดว่าสามารถทำอะไรได้บ้าง แต่พอมาคราวนี้ ในคลิป Direct
        ได้เปิดเผยให้เห็นถึงการใช้ฟังก์ชั่นต่างๆ ที่ค่อนข้างเป็นประโยชน์ต่อการเล่นภาคนี้อยู่พอสมควร ไม่ว่าจะเป็นการสแกน
        QR
        Code จากภาคเก่า เพื่อเอาดีไซน์ชุดและรูปดีไซน์ที่เราออกแบบเองในภาคเก่าๆ มาใช้ในภาคนี้, ใช้แอปฯ
        เป็นคีย์บอร์ดสำหรับพิมพ์แชทในเกม, ใช้แอดเพื่อนสนิท (Best Friend) ซึ่งเพื่อนคนไหนที่ถูกเพิ่มให้เป็นเพื่อนสนิทนั้น
        เมื่อมาเยือนที่เกาะของเรา จะสามารถเปลี่ยนแปลงสิ่งต่างๆ บนเกาะ เช่น ตัดต้นไม้ เคลื่อนย้ายสิ่งของได้ เป็นต้น
        นอกจากนี้เรายังสามารถใช้แอปฯ ดังกล่าวเป็น Voice Chat หรือคุยกันเหมือนคุย Discord / TS
        แบบออนไลน์ในเกมได้เลยอีกด้วย
      </p>
      <div align="center">
        <img class="img-responsive"
          src="https://news.thaiware.com/upload_misc/news/2020_02/728/18053_20022119023129_96.png">
      </div>
      <p>
        นอกเหนือจากฟีเจอร์ต่างๆ ข้างบนแล้ว ทางทีมงานยังมีแผนการอัปเดตเพิ่มเติมอีกมากมาย ไม่ว่าจะเป็นการเพิ่มร้านรวงต่างๆ
        เข้ามา, เพิ่มพิพิธภัณฑ์, ฟีเจอร์เชิญเพื่อนมาอยู่ด้วย, การปรับแต่งบ้านเพิ่มเติม, การใช้ Amiibo
        เพื่อเพิ่มตัวละครในเกม, พ่อค้าเร่, และการกลับมาของ Isabelle ที่จะมาช่วยเราเปลี่ยนธง
        หรือเช็คฟีดแบคของบรรดาผู้อยู่อาศัยร่วมเกาะของเราได้เช่นเคย
      </p>
    </div>
  </div>
</div>
<a href="#" id="gototop">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
  <!--fa-angle-up คือ icon -->
  <p>TOP</p>
</a>




{{!-- <div class="row"> --}}


{{!-- <div class="col-xs-12 col-sm-8 column middle">
    <div class="wrapper1">
      <iframe src="https://www.youtube.com/embed/Ie4WZCLbtVs" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p style="text-indent: 2.5em;">เปิดให้รับชมกันไปอย่างเต็มอิ่มเมื่อช่วงสามทุ่มของวันที่ 21 กุมภาพันธ์ที่ผ่านมากับ
      Animal Crossing: New Horizons Direct ด้วยความยาวเกือบครึ่งชั่วโมง
      สำหรับใครที่อยากได้เวอร์ชั่นสรุปโดยไม่ต้องกลับไปวนดูอีกรอบ เราอธิบายไว้ให้ตามไทม์ไลน์การนำเสนอด้านล่างแล้วค่ะ </p>



    <a id="1"></a>
    <h3>1. เลือกรูปแบบเกาะ และพื้นที่ที่ต้องการอยู่ได้</h3>
    <p>
      การเลือกรูปแบบเกาะ จะมีทั้งหมด 4 แบบ เส้นสีฟ้าคือเส้นแม่น้ำลำคลองที่จะแบ่งกันพื้นที่เอาไว้
      แต่แน่นอนว่าเราสร้างปรับเสริมเติมแต่งเข้าไปได้ในภายหลัง เช่น สร้างสะพานข้ามฝั่ง สร้างบันไดขึ้นเนิน
      ซึ่งสามารถเลือกได้เลยว่าอยากได้แผนที่เกาะเป็นแบบไหน และอยากให้บ้านอยู่ตรงไหนของเกาะ
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221145017y3_96.png">
    <p>
      เมื่อเลือกได้แล้ว Tom Nook จะถามคำถามถัดมาว่าอยากอยู่ ซีกโลกบน หรือ ซีกโลกล่าง
      ซึ่งการเลือกนี้จะมีผลกับสภาพภูมิอากาศตามฤดูกาล ที่จะแปรผันตามโซนที่เราอยู่ เช่น ในเดือนเมษายน
      ถ้าใครเลือกซีกโลกบนจะเป็นฤดูใบไม้ผลิ แต่ถ้าเลือกซีกโลกล่าง จะกลายเป็นฤดูใบไม้ร่วงแทน เป็นต้น
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022114501743_96.png">
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221145016r4_96.png">
    <p>
      และเมื่อเรามาถึงเกาะ เราสามารถเลือกพื้นที่ที่จะตั้งรกรากหรือตั้งเต๊นท์ได้เองเลยทันที
      ซึ่งถ้าเลือกไม่ถูกว่าจะตั้งตรงไหนดี ลองคุยกะผู้คนบนเกาะให้พวกเขาลองช่วยเสนอแนะดูสิ
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_2002211457066j_96.png">

    <a id="2"></a>
    <h3>2. มีบริการ และครื่องไม้เครื่องมือหลากหลายให้เลือกใช้</h3>
    <p>
      ร้านของ Nook เปิดให้บริการตลอด 24 ชั่วโมง จะมาดึกดื่นแค่ไหน ร้านนี้ก็เปิดให้บริการเสมอ
      ไม่ว่าจะเป็นการซื้อ-ขายไอเท็ม หรือการใช้บริการโต๊ะคราฟท์ของที่เราจะต้องไปหาวัตถุดิบมา
      สามารถสร้างได้ตั้งแต่เครื่องมือที่ใช้ทั่วไป
      ยันเฟอร์นิเจอร์ขนาดใหญ่เลยทีเดียวและเมื่อเราสร้างของที่เป็นเฟอร์นิเจอร์ออกมา
      เราสามารถนำมาปรับแต่ต่อในสไตล์ที่เราชอบได้อีกด้วย
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022115100667_96.png">



    <a id="3"></a>
    <h3>3. การเล่นแบบ co-op กับเพื่อน</h3>
    <p>
      ในภาคนี้ เราจะสามารถเล่นแบบ co-op โดยการเชิญเพื่อนมาหาเราที่เกาะ
      หรือเพื่อนเลือกจะมาเที่ยวที่เกาะของเราเองได้อีกด้วย โดยจะมีให้เลือกทั้งแบบเชิญเพื่อนใน Friend List ของเรามา
      และการออก Dodo Code™ เพื่อให้เพื่อนที่จะมาเกาะของเรานั้น
      ทำการแอดโค้ดของเราแล้วมาเยี่ยมได้เลยทันทีโดยไม่ต้องเพิ่มเพื่อนกัน (โค้ดนี้จะเป็นฟีเจอร์ในอนาคตที่จะถูกเพิ่มเข้ามา)
      ซึ่งสามารถมาจอยกันได้สูงสุดถึง 8 คนเลยทีเดียว
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022119423916_96.png">
    <p>
      นอกจากวิธีการข้างต้นแล้วเรายังสามารถเล่นกับเพื่อนแบบ Local โดยใช้เครื่อง Switch เครื่องเดียวพร้อมตลับเกมอีก 1
      ตลับมาเล่นพร้อมกันได้สูงสุดถึง 8 คนด้วยกัน! (ใช้ Joy-Con 8 อัน) โดยการลงทะเบียนผู้ใช้งานให้ครบ 8 คนในเครื่องนั้นๆ
      แล้วทำการสร้างตัวละครให้เรียบร้อย ก็จะสามารถมาเล่นด้วยกันได้ทันที (ตัวละครแต่ละตัว
      สามารถสร้างบ้านของตัวเองได้อย่างอิสระด้วยนะ)
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_200221164829V7_96.png">

    <a id="4"></a>
    <h3>4. มีระบบสะสมไมล์ (Nook Miles)</h3>
    <p>
      ถือเป็นสิ่งที่ทำให้ว้าวพอสมควรกับ ระบบสะสมไมล์ ที่เปรียบเสมือนเป็นเควสกลายๆ
      ให้กับเหล่าผู้เล่นได้ทำกันเป็นประจำเพื่อแลกไอเท็มในเกมมาใช้กัน เช่น ออกไปตกปลา และเมื่อได้ไมล์มาแล้ว
      ก็จะสามารถเอาไปแลกพวกชุดคอสตูม หรือไอเท็มอื่นๆ ที่เป็นประโยชน์ต่อไป เช่น ตำราผลิตเครื่องมือ เป็นต้น
    </p>
    <div align="center">
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/728/18053_20022116525993_96.png">
    </div>
    <p>
      หนึ่งในไอเท็มที่น่าสนใจคือ Nook Miles Ticket ที่เมื่อแลกแล้ว
      เราสามารถไปที่สนามบินประจำเกาะเพื่อใช้ตั๋วบินไปยังเกาะเล็กๆ ที่อยู่ห่างไกลเพื่อเก็บวัตถุดิบและไอเท็มต่างๆ
      กลับมาได้เท่าที่ต้องการเลยทีเดียว
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022118143462_96.png">

    <a id="5"></a>
    <h3>5. จากเต๊นท์ธรรมดา กลายเป็นบ้านใหญ่สุดหรูได้!</h3>
    <p>
      ผู้เขียนเชื่อว่าฟีเจอร์นี้ทางทีมงานน่าจะดัดแปลงและต่อยอดมาจาก Animal Crossing: Happy Home Designer
      เพราะว่ามีการสร้างบ้านและต่อเติมบ้านในรูปแบบที่คล้ายๆ กันกับภาคดังกล่าว และการจะอัปเกรดเต๊นท์ให้เป็นบ้าน
      และอัปเกรดบ้านให้มีขนาดใหญ่ขึ้นนั้น จำเป็นต้องใช้ Bells หรือสกุลเงินในเกมเป็นจำนวนมาก ซึ่ง Nook
      ก็ไม่ได้ใจร้ายให้จ่ายทั้งหมดในงวดเดียวหรอก ยังคงสามารถผ่อนจ่ายบ้านได้เช่นเดิม
    </p>
    <img class="img-responsive"
      src="https://news.thaiware.com/upload_misc/news/2020_02/images/18053_20022118012819_96.png">

    <a id="6"></a>
    <h3>6. ฟีเจอร์เชื่อมต่อกับแอปฯ ในมือถือ และเชื่อมต่อกับภาคเก่าผ่าน QR Code</h3>
    <p>
      นับเป็นฟีเจอร์ใหม่ที่มีข่าวหลุดออกมาก่อนหน้านี้แล้วว่า จะสามารถเชื่อมต่อกับแอปพลิเคชันในสมาร์ทโฟนที่ชื่อว่า
      Nintendo Switch Online App ได้ ซึ่งก่อนหน้านี้ยังไม่แน่ชัดว่าสามารถทำอะไรได้บ้าง แต่พอมาคราวนี้ ในคลิป Direct
      ได้เปิดเผยให้เห็นถึงการใช้ฟังก์ชั่นต่างๆ ที่ค่อนข้างเป็นประโยชน์ต่อการเล่นภาคนี้อยู่พอสมควร ไม่ว่าจะเป็นการสแกน QR
      Code จากภาคเก่า เพื่อเอาดีไซน์ชุดและรูปดีไซน์ที่เราออกแบบเองในภาคเก่าๆ มาใช้ในภาคนี้, ใช้แอปฯ
      เป็นคีย์บอร์ดสำหรับพิมพ์แชทในเกม, ใช้แอดเพื่อนสนิท (Best Friend) ซึ่งเพื่อนคนไหนที่ถูกเพิ่มให้เป็นเพื่อนสนิทนั้น
      เมื่อมาเยือนที่เกาะของเรา จะสามารถเปลี่ยนแปลงสิ่งต่างๆ บนเกาะ เช่น ตัดต้นไม้ เคลื่อนย้ายสิ่งของได้ เป็นต้น
      นอกจากนี้เรายังสามารถใช้แอปฯ ดังกล่าวเป็น Voice Chat หรือคุยกันเหมือนคุย Discord / TS แบบออนไลน์ในเกมได้เลยอีกด้วย
    </p>
    <div align="center">
      <img class="img-responsive"
        src="https://news.thaiware.com/upload_misc/news/2020_02/728/18053_20022119023129_96.png">
    </div>
    <p>
      นอกเหนือจากฟีเจอร์ต่างๆ ข้างบนแล้ว ทางทีมงานยังมีแผนการอัปเดตเพิ่มเติมอีกมากมาย ไม่ว่าจะเป็นการเพิ่มร้านรวงต่างๆ
      เข้ามา, เพิ่มพิพิธภัณฑ์, ฟีเจอร์เชิญเพื่อนมาอยู่ด้วย, การปรับแต่งบ้านเพิ่มเติม, การใช้ Amiibo
      เพื่อเพิ่มตัวละครในเกม, พ่อค้าเร่, และการกลับมาของ Isabelle ที่จะมาช่วยเราเปลี่ยนธง
      หรือเช็คฟีดแบคของบรรดาผู้อยู่อาศัยร่วมเกาะของเราได้เช่นเคย
    </p>
  </div> --}}

{{!-- <div id="back">
    <a href="#top">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
      <!--fa-angle-up คือ icon -->
      <p>TOP</p>
    </a>
  </div> --}}

<!-- 
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>
</div>
-->