.navbar-new {
  margin-bottom: 0px;
  background: #263238;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.navbar-new .navbar-nav>li>a {
  color: #fff;
}

.navbar-new .navbar-brand {
  color: #fff;
}

.navbar-new .navbar-nav>li>a:focus,
.navbar-new .navbar-nav>li>a:hover {
  color: #CFD8DC;
}

.mainapp {
  position: relative;
}