body{
    background-color: white ;
}

#title1{
  margin-top: 60px;
  font-size: 50px;
  text-align: center;
}
#title2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

#back{
  font-size: 20px;
  text-align: center;
  background: #696969;
  margin-top: 50px;
  padding: 7px;
  padding-top: 3px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px; /* ความกว้าง */
  height: 60px; /* ความสูง */
  border-radius: 80px;
}

.submenu{
  display: block;
  padding: 11px 10px 11px 10px;
  color: gray;
  }

a:hover{
  color: black;
  text-decoration: none;
}

.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
.column.menu {
    width: 25%;
  }
  
  /* Middle column */
.column.middle {
    width: 50%;
    font-weight: bold;
  }

.column.middle h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
  }

.column.middle h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
  }


.column.middle p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: normal;
  padding-bottom: 10px;
  }
  
  .row {
    margin: 20px;
  }

