    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 com-lg-12">
                <div class="text-center">
                    <h1>GAMES</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="class-game">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="/polo/index/">
                        <img class="img-responsive list-game" src="https://sv1.picz.in.th/images/2020/04/16/UfwP2V.png" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <img class="img-responsive list-game" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="">
                </div>
            </div>
        </div>
    </div>

