<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-top">
                <h1>Browse</h1>
                <ul class="menu">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Charts</a></li>
                    <li><a href="#">New Releases</a></li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Podcasts</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="section-title">
                <div class="sec-l"></div>
                <div class="sec-l"></div>
            </div>
                <div class="section-grild"></div>
                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     

                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     

                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     

                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     

                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     

                    <div class="sec-items"></div>   
                    <div class="sec-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1471478331149-c72f17e33c73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
                    </div>

                    <div class="sec-info">
                        <h3>Pop</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consequuntur dolore impedit quam distinctio quia nulla nam suscipit dignissimos aut. Iusto distinctio a tenetur, aperiam obcaecati eos corrupti culpa sapiente? </p>
                        <p>1000 FOLLOWERS</p>
                    </div>     
        </div>
    </section>
   <footer>
       <div class="container">
           <div class="footer-grid">
               
               <div class="footer-items">
                   <div class="footer-img">
                       <h2>Charts</h2>
                       <img src="" alt="">
                   </div>
                   <p>Globle and region top charts</p>
               </div>
               
               <div class="footer-items">
                   <div class="footer-img">
                       <h2>Charts</h2>
                       <img class="img-responsive" src="" alt="">
                   </div>
                   <p>Globle and region top charts</p>
               </div>

               <div class="footer-items">
                   <div class="footer-img">
                       <h2>Charts</h2>
                       <img class="img-responsive" src="" alt="">
                   </div>
                   <p>Globle and region top charts</p>
               </div>

               <div class="footer-items">
                   <div class="footer-img">
                       <h2>Charts</h2>
                       <img class="img-responsive" src="" alt="">
                   </div>
                   <p>Globle and region top charts</p>
               </div>
           </div>
            
       </div>
   </footer>
   
    
</body>
</html>