<div class="container-fluid covid-dashboard">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="text">
        Social Distancing
      </h1>
      <p class=".p-text">
        Help prevent the spread of Coronavirus <i class="fas fa-virus"></i> by
        maintaining at least 1m (3ft) between you and others.
      </p>
      <div class="icons">
        <span class="advice">
          <i class="fas fa-handshake-alt-slash"></i>
          <h3>Avoid physical contact</h3>
        </span>
        <span class="advice">
          <i class="fas fa-hands-wash"></i>
          <h3>Wash your hands</h3>
        </span>
        <span class="advice">
          <i class="fas fa-head-side-mask"></i>
          <h3>Use mask</h3>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-sorth">
  <div class="row">
    <div class="heading-covid text-center">
      <h1>Covid-19 latest data</h1>
      <span id="date"></span>
    </div>
    <div class="control-panel">
      <div class="control-panel-inner">
        <div class="sort-by">Sort by:</div>
        <div>
          <input type="radio" id="country" name="sort-order" value="country" checked>
          <label for="country">Country</label>
        </div>
        <div>
          <input type="radio" id="cases" name="sort-order" value="cases">
          <label for="cases">Cases</label>
        </div>
        <div>
          <input type="radio" id="deaths" name="sort-order" value="deaths">
          <label for="deaths">Deaths</label>
        </div>
        <div>
          <input type="radio" id="recovered" name="sort-order" value="recovered">
          <label for="recovered">Recovered</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-covid"></div>